body{
  width: 80%;
  margin: 5% auto;
  background-color: green;
}

.wrapNavBar{
  display: run-in;
}

.navbar{
  width: 20%;
  display: inline;
}

.navbar a, .btn-success{
  color: #FFF;
  font-size: 18px;
  font-style: oblique;
  font-weight: 700;
  font-family: sans-serif;
  text-decoration: none;
  text-transform: uppercase;
  display: inline;
  padding: 1em;
  margin: 0 2%;
  border-radius: 15px;
  border: 2px solid #34FA4A;
}

.navbar a:hover, .btn-success:hover{
  color: white;
  font-size: 1.4em;
  font-weight: 1000;
  box-sizing: border-box;
  box-shadow: 0 0 20px white;
  background-color: rgba(0, 0, 0, 0.6);
}

.post-handler{
  margin: 0 auto;
}

.heading h1{
  color: white;
  font-size: 4em;
  font-family: 'Roboto Slab', serif;
  padding: 20px;
  margin: 0 auto;
}

.form{
  width: 60%;
  margin: auto;
}

#labels{
  color: #FFF;
  font-style: italic;
  font-variant: small-caps;
  font-family: cursive;
  letter-spacing: 10px;
  display: block;
  padding: 15px;
  font-size: 28px;
}

.textC{
  width: 90%;
  height: 100px;
  line-height: 100px;
  font-size: 35px;
  display: block;
  margin: auto;
}

.submit{
  padding: 30px;
  float: right;
}

.wrapper{
  display: flex;
}

.messageCircle{
  width: 90%;
  padding: 10px;
  display: inline;
  margin: 15px;
  padding: 15px;
  border-radius: 15px;
  border: 2px solid black;
  float: left;
}

h2{
  font-size: 24px;
  font-style: italic;
  font-weight: 800;
  letter-spacing: 10px;
  text-transform: uppercase;
}

.far{
  width: 5%;
  font-size: 3em;
  align-self: center;
  text-align: center;
  padding: 5px;
}

.far:hover{
  color: red;
  box-shadow: 0 0 20px white;
}
