body{
  width: 100%;
  text-align: center;
  background-color: Maroon;
}

.container{
  width: 70%;
  color: white;
  margin: 0 auto;
  border: 1px solid black;
  box-shadow: 0 0 50px #FFF;
  background-color: rgba(0, 0, 0, 0.4);
}

.audio{
  width: 60%;
  padding: 10px;
  margin: auto;
}

button{
  width: 18%;
  height: 50%;
  font-size: 1em;
  padding: 0;
  margin: 0;
  box-shadow: 0 0 15px black;
  border: 2px solid black;
}
