<!-- views/footer.ejs -->

<div  class="col-lg-12">
  <a href="/grocery">Grocery</a>
  <a href="/users">Users</a>
  <a href="/hats">Hats</a>
</div>

<script src="https://code.jquery.com/jquery-3.3.1.js"></script>
<script type="text/javascript" src="/js/main.js"></script>
