<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Post</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="/css/style.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css">
</head>

<body>
  <div class="container">

    <div class="wrapNavBar">
      <%- include('partials/navbar.ejs') %>
    </div>
    <div class="post-handler">

      <div class="heading">
        <h1>Post your Message</h1>
      </div>

      <div class="form">

        <form class="postYourMessage" action="post" method="POST">

          <div class="title">
            <label id="labels" for="title">Title</label>
            <input id="titleId" class="textC" type="text" name="title" required="true">
          </div>

          <div class="body">
            <label id="labels" for="body">Body</label>
            <input id="bodyId" class="textC" type="text" name="body" required="true">
          </div>

          <div class="submit">
            <input id="submitId" class="btn-success" type="submit" name="submit">
          </div>

        </form>

      </div>

    </div>

  </div>

  <%- include('partials/footer.ejs') %>
</body>

</html>
