body{
	background-color: lightblue;
}

img{
	width: 25%;
	border: 2px solid #FAFAFA;
	padding: 2%;
	margin: 1.66%;
	float: left;
}

h1{
	width: 30%;
	font-family: Do+Hyeon;
	margin: 1.66%;
	font-size: 23px;
	font-weight: 600;
	font-style: italic;
	text-transform: uppercase;
	text-align: center;
	padding: 10px;
	margin: auto;
	border-bottom: 2px solid #f1f1f1;
}

header{
	width: 70%;
	padding: 20px;
	margin: auto;
  text-align: center;
	background-color: #F0F0F0;
}

a{
	padding: 15px;
	background-color: #898989;
	border-radius: 50%;
}
