h1{
  color: #437744;
}

h1, h3 {
  text-align: center;
}

.upp{
  text-transform: uppercase;
}

p{
  padding: 25px;
}

a, h5{
  text-decoration: none;
}

a:hover, h5:hover{
  color: #FF0000;
  text-decoration: underline;
}
